<h1 class="header1">{{ title }}</h1>
<a class="green-cta" href="/ajouter">Ajouter une Souscription</a>
<table id="subscriptionTable" class="rwd-table"></table>
<script src="/js/home.js" type="text/javascript"></script>